[branch]
    autosetupmerge = true

[core]
    autocrlf = input
    ignorecase = false
    excludesfile = ~/.gitignore
    editor = vim
    pager = less

[color]
    ui = auto

[diff]
    tool = vimdiff
    algorithm = minimal

[difftool]
    prompt = false

[fetch]
    prune = true

[format]
    pretty = minimal

[http]
    sslVerify = true
    sslTry = true

[merge]
    tool = vimdiff

[mergetool]
    prompt = true

[pretty]
    minimal = "format:%Cgreen%ci%Creset %h %<(10,trunc)%Cred%cn%Creset %<(57,trunc)%s"

[push]
    default = simple

[status]
    short = true
    branch = true

[user]
    email = github@lmas.se
    name = A. Svensson

[alias]
    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -v
    unstage = reset --quiet HEAD --
    unstash = stash pop
    amend = commit --amend
    unmerged = diff --name-only --diff-filter=U

